.form_style
{
    background: linear-gradient(to bottom, #45484d 0%, #000000 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #353535;
    border-radius: 4px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    left: 40% !important;
    top: 50% !important;
    /*margin: 0 auto !important;*/
    max-width: 40% !important;
    /*position: inherit !important;*/
}

.player_news
{
    padding-left: 10px;
}
.player_new
{
    padding-right: 10px;
}
.reputaion_border
{
    border-right: solid 1px #808080;
    border-left: solid 1px #808080;
}


.mychart{
    padding-left: 20%;
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    .form_style
    {
        left: 50% !important;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)

{
    .form_style
    {
        left: 50% !important;
    }
    .mychart{
        padding-left: 35%;
    }


}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .mychart{
        padding-left: 20%;
    }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation :portrait ) {
    .edit_profile_text
    {
        padding-right: 10px;

    }
}






@media only screen
and (min-device-width : 360px)
and (max-device-height : 640px)
{
    .form_style
    {
        left: 50% !important;

    }


    .mychart{
        padding-left: 35%;
    }
}

@media only screen
and (min-device-width : 360px)
and (max-device-height : 640px)
and (orientation: landscape)
{
    .form_style
    {
        left: 50% !important;

    }


    .mychart{
        padding-left: 42%;
    }
}


/* Large screens ----------- */
@media only screen
and (min-width : 1824px)
and (orientation : landscape)
{
    .mychart{
        padding-left: 35%;
    }


}


.award-box
{
    height: 100%;
    width: 100%;


}

.award
{
    height: 50px;
    width: 90%;

}

.error_background
{
    background: #1b3346 !important;

}

.cabinet
{
    width: 79px;
    height: 22px;
    /*background: url(btn-choose-file.gif) 0 0 no-repeat;*/

    display: block;
    overflow: hidden;
    cursor: pointer;
}

.cabinet input.file
{
    position: relative;
    height: 100%;
    width: auto;
    opacity: 1;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.uab-fa-icon{
    cursor: pointer;
    font-size: 1.4em;
}

.uab-blue-icon{
    color: #0000ff;
}

.show-comments-block{
    height: 100%;
    width: 100%;
    margin-top: 5px;
}

.write-comment-block{
    display: none;
    clear: both;
    width: 90%;
}
